<!DOCTYPE html>
<html lang="<%= htmlWebpackPlugin.options.lang %>">
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="icon" type="image/svg+xml" href="/favicons/favicon.svg">

    <script>
      var $buoop = {required:{e:-4,f:-3,o:-3,s:-1,c:-3},insecure:true,api:2020.05 };
      function $buo_f(){
          var e = document.createElement("script");
          e.src = "/update.min.js";
          document.body.appendChild(e);
      };
      try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
      catch(e){window.attachEvent("onload", $buo_f)}
    </script>

  </head>
  <body>
    <div id="<%= htmlWebpackPlugin.options.appMountId %>"></div>
  </body>
</html>
